@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", cursive;
    --fonte3: "Sriracha", cursive;
}

html,body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
}

header > a{
    padding-bottom: 50px;
}

header > h1{
    font-family: var(--fonte2);
    font-weight: bold;
    font-variant: small-caps;
    font-size: 10vw;
}

a{
    color: white;
    font-weight: 800;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

main p{
    font-family: var(--fonte3);
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-size: 3.5vw;
    font-family: var(--fonte3);
}

.paragrafos{
    background-color: white;
}

section > p{
    padding-bottom: 2em;
}

.paragrafo-img > p {
    display: inline-block;
    padding: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.658);
}

#img001{
    background: url('imagens/background001.jpg') right center fixed;
    background-size: cover;
}

#img002{
    background: url('imagens/background002.jpg') right center fixed;
    background-size: cover;

}

footer{
    background-color: black;
}

footer > p{
    color: white;
    text-align: center;
    padding: 10px;
}
